* {
  font-family: 'Monserrat', sans-serif;
  /*box-sizing: border-box;*/
  overflow: visible;
}

h1 {
  color: grey;
  font-size: 28;
  text-transform: uppercase;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#contact-form {
  color: magenta;
}

*li {
  color: grey;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#experience {
  margin: 0px;
}

header,
footer {
  background-color: #eeeeee;
  padding-bottom: 2px;
  padding-top: 2em;
}

li b {
  color: #c7c7c7
}

h2 {
  text-font: lucida;
  font-size: 18;
  text-color: #2ffa78;
  border-bottom: 1px solid #2f5a78;
  padding-bottom: 2px;
  transition: width 5s;
  transition-timing-function: ease;
  text-shadow: 2px 10px 10px #2f5a78;;
}

h2:hover {
  width: 250px;
  scale:(1.5);
}
h2::first-letter {
  transition: all 1s 500ms ease;
  color: orange;
}
h2::selection{
  color:orange
}

/* orange */

.grad {
  color: #ffffff;
  height: 14px;
  padding: 10px;
  background: linear-gradient(to right, #b7b7eb, #ffebee);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.dest {
  color: #ffebee;

}

#position {
  font-size: 18px;
}

.summary {
  font-size: 16px;
  line-height: 20px;
}

body {
  font-style: verdana;
}

#position {
  font-size: 24px;
  font-weight: 700;
  font-family: Helvetica, sans-serif;
  color: #525252;
}

header {
  text-align: center;
}

#copyright {
  text-align: center;
}

section,
footer {
  padding: 2px 10px;
}

ul {
  margin: 0px;
}


header,
footer {
  background-color: #eeeeee;
  padding-bottom: 2px padding-top: 2px;
}

h2::first-letter {
  color: #ffebee;
  font-size: 36px;
}

/*FORAMATO DE TABLAS: */

table {
 border-collapse: collapse;
  width: 100%;
}

th {
  background-color: #e1d5d5;
  padding: 2px;
}

tr,
td {
  border: 3px solid #ffffff;
  padding: 3px;
  text-align: center;
}

tr:nth-child(odd) {
  background-color: #efe1ec;
}

tr:nth-child(even) {
  background-color: #f3ecf2;
}

/*FORMATO DE INPUT, TEXTAREA, BUTTON*/
textarea,
input[type='text'],
input[type='email'],
input[type='number']
{
  border: 1px solid green;
  width: 100%;
  padding: 5px;
  border-radius: 20px;
}

label {
  font-weight: bold;
  color: green;
}

.placeholder {
  text-style: italic;
  text-family: lucida console;
  text-color: orange;
}

input[type='button'],
button {
  margin: 3px;
  background-color: #9d7b9c;
  border: none;
  border-radius: 25px;
  padding: 10px 25px;
  font-weight: bold;
  color: white;
  width: 100%;
}

input[type='button']:hover {
  background-color: gray;
  width: 100%;
}

