<%- include('partials/header')%>


 
<body>
<h2>MODIFICAR PROYECTO</h2>

<form action="/proy/:nombre" method="PUT" >
    <p>Nombre:<input type="text" name="nombre" /></p>
    <p>Descripcion:<input type="text" name="descripcion" id="descripcion"/></p>
    <p>Precio:<input type="text" name="precio" /></p>
    <p>Imagen:<input type="text" name="img" /></p>
    <p>Tipo:<input type="text" name="id_tipo" /></p>
    <input type="submit" value="Crear Nuevo">
  </form><br>

</body>



<%- include('partials/footer')%>