<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/css/style.css" type="text/css"/>
  <title>Proyectos Digitales</title>
  <link rel="icon" href="icon/Mate_.ico">  
</head>

<aside align="right">
  <nav>
    <p><b>home </b><a href="../../index.html" title="home" ><img src="btn_grey.jpg" height="13px" ></a></p>
    
    <p><b>a mi perfil</b>
      <a href="../../perfil.html" title="perfil" ><img src="btn_grey.jpg" height="13px" ></a>
    
      <p><b>a sololearn </b><a href="https://www.sololearn.com" title="sololearn" target="_blank" > <img
        src="btn_grey.jpg" height="13px" ></a></p></p>
</aside>

<body <!--style = "background-color: grey"-->
  <header>
    <h1>Juan J. Molina</h1>
    <p id="position">Software Engineer</p>
  </header>
  
  <!--FORMULARIO AGREGAR DESARROLLOS-->
  <section>
    <h2 class="grad">
      <spam class="dest">D</spam>esarrollos Form
    </h2>
    <form action="" target="blank" method="POST" id="contact-form" >
      <label for="name">Nombre: </label><input placeholder="NOMBRE" id="name" type="text" /><br>
      <label>
        <p>Precio: <input type="number" name="precio" placeholder="PRECIO" id="precio" /></p>
      </label>
      <label>
        <p>Tipo: <input type="text" name="tipo" placeholder="TIPO" id="edad" /></p>
      </label>
      <label for="descripcion:">Descripocion : </label><input placeholder="DESCRIPCION" id="descripcion" type="text" /><br>
      <br>      
      <br>
      <button type="reset" onclick="capturar();">CREAR</button>
      <br>
      <div>
        <button type="button" id="cambio" >MODIFICAR</button>
      </div>
    </form>
  </section>


  <!-- TABLA DESARROLLOS FIJA-->
  <section>
    <h2 class="grad">DESAROLLOS DIGITALES</h2>
    <table id="skills">
      <tr>
        <th>NOMBRE</th>
        <th>TIPO</th>
      </tr>
      <tr>
        <td>c++</td>
        <td>semaforo</td>
      </tr>
      <tr>
        <td>html</td>
        <td>recurso</td>
      </tr>
      <tr>
        <td>css</td>
        <td>estilos</td>
      </tr>
      <tr>
        <td>Nodejm</td>
        <td>framework</td>
      </tr>
      <tr>
        <td>RRails</td>
        <td>framework</td>
      </tr>
    </table>
  </section>
  <section>


  </section>
  <footer>
    <h2 class="grad">Contacts</h2>
    <ul id="contacts">
      <li><a href="link1" target="_blank">Sololearn</a></li>
      <li><a href="link2" target="_blank">LinkedIn</a></li>
    </ul>
    
    <p id="copyright">Copyright &copy; Juan J.</p>


  </footer>
</body>

</html>