<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/css/style.css" type="text/css"/>
  <title>Proyectos Digitales</title>
  <link rel="icon" href="icon/Mate_.ico">  
</head>

<aside align="right">
  <nav>
    <p><b>home </b><a href="../../index.html" title="home" ><img src="btn_grey.jpg" height="13px" ></a></p>
    
    <p><b>a mi perfil</b>
      <a href="../../perfil.html" title="perfil" ><img src="btn_grey.jpg" height="13px" ></a>
    
      <p><b>a sololearn </b><a href="https://www.sololearn.com" title="sololearn" target="_blank" > <img
        src="btn_grey.jpg" height="13px" ></a></p></p>
</aside>

<body <!--style = "background-color: grey"-->
  <header>
    <h1>Juan J. Molina</h1>
    <p id="position">Software Engineer</p>
  </header>
  
  <!--FORMULARIO AGREGAR DESARROLLOS-->
  <section>
    <h2 class="grad">
      <spam class="dest">D</spam>esarrollos Digitales Form
    </h2>
    <!--CREAR UN OBJETO NUEVO MEDIANTE UN   **  POST  **--> 
    <form action="/"  method="POST" id="contact-form" enctype="application/x-www-form-urlencoded">
        
      <!--HASTA ACA CREA UN FORMULARIO QUE EN app.js está definido como un post que envia un html con un texto y un link para regresar al anterior-->
      <label>
      <p>Nombre: <input type="text" name="nombre" placeholder="NOMBRE" id="Name"  /></p>
      </label>  
      <label>
        <p>Precio: <input type="number" name="precio" placeholder="PRECIO" id="Precio" /></p>
      </label>
      <label>
        <p>Tipo: <input type="text" name="tipo" placeholder="TIPO" id="Tipo" /></p>
      </label>
      <label for="descripcion:">Descripocion : </label><input placeholder="DESCRIPCION" id="Descripcion" type="text" /><br>
      <br>      
      <br>
        <button type="submit" name="enviar" value="POST">CREAR</button>
      <br>
      <div>
        <button type="submit" name="actualizar" value="PUT" id="cambio" >MODIFICAR</button>
      </div>
      <div>
        <button type="submit" name="eliminar" value="DELETE" id="cambio" >ELIMINAR</button>
      </div>
    </form>
  </section>

  <!--agregado para dividir el formulario por cada metodo -->
    <form action="/"  method="POST" id="contact-form" enctype="application/x-www-form-urlencoded">

  <!-- TABLA DESARROLLOS FIJA-->
  <section>
    <h2 class="grad">DESAROLLOS DIGITALES</h2>
    <table id="skills">
      <tr>
        <th>NOMBRE</th>
        <th>TIPO</th>
      </tr>
      <tr>
        <td>c++</td>
        <td>semaforo</td>
      </tr>
      <tr>
        <td>html</td>
        <td>recurso</td>
      </tr>
      <tr>
        <td>css</td>
        <td>estilos</td>
      </tr>
      <tr>
        <td>Nodejm</td>
        <td>framework</td>
      </tr>
      <tr>
        <td>RRails</td>
        <td>framework</td>
      </tr>
    </table>
  </section>
  <section>


  </section>
  <footer>
    <h2 class="grad">Contacts</h2>
    <ul id="contacts">
      <li><a href="link1" target="_blank">Sololearn</a></li>
      <li><a href="link2" target="_blank">LinkedIn</a></li>
    </ul>
    
    <p id="copyright">Copyright &copy; Juan J.</p>


  </footer>
</body>

</html>