<%- include('partials/header2')%>

  <!-- Div CARD de TIPOS FIJA-->


  
  <body>
    <section>
        <form action="" method="POST" enctype="multipart/form-data" class="contact-form">
            <p>NAME TIPO:<input type="text" name="nombre"></p>
        </form>


    </section>
  </body>

  <%- include('partials/footer')%>  