<footer>
    <h2 class="grad">Contacts</h2>
    <ul id="contacts">
      <li><a href="link1" target="_blank">Sololearn</a></li>
      <li><a href="link2" target="_blank">LinkedIn</a></li>
    </ul>
    
    <p id="copyright">Copyright &copy; Juan J.</p>


  </footer>