<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="../../css/style.css" type="text/css"/>
  <title>MODIFICAR</title>
  <link rel="icon" href="icon/Mate_.ico">
  <link rel="" </head>
</head>

<aside align="right">
  <nav>
      <p><b>prefil</b><a href="/perfil.html" title="Perfil"><img src="btn_grey.jpg" height="13px"></a></p>
</aside>

  <header>
    <h1>Juan J. Molina</h1>
    <p id="position">Software Developer</p>
  </header>
  <section>
